* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base-font-size: 1rem;
    --line-height: 1.4;
    --space-before: 1;
    --space-after: calc(var(--base-font-size) * 1.33);
    --indent-left: 2;
}

html {
    font-size: 100%;
}

body {
    background-color: ivory;
    font-size: 1rem;
    line-height: var(--line-height);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: var(--space-after);
}

.view-baseline {
    background-image: linear-gradient(to bottom, rgb(150, 207, 207) 0, transparent 1px);
    background-repeat: repeat-y;
    background-size: 100% var(--base-font-size);
}

.page {
    container-type: inline-size;
    container-name: page;
    max-width: calc(var(--base-font-size) * 72);
}

.masthead {
    text-align: center;
}


.article {
    column-count: auto;
    column-width: calc(var(--base-font-size) * 20);
    column-gap: 2rem;
    column-rule: 1px solid color-mix(in hsl, currentColor 15%, currentColor 0%);
    column-fill: balance;
}

.article > p:first-of-type {
    column-span: all;
    font-size: calc(var(--base-font-size) * 1.33);
}

.section-title {
    column-span: all;
}

.section-subtitle {
    column-span: none;
}